{% extends 'mangas/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <p>
        <label>Usuario:</label>
        <input type="text" name="username" class="form-control">
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password" class="form-control">
    </p>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        Usuario y/o contraseña incorrectos
    </div>
    {% endif %}
    <p>
    <p>Cree una cuenta <a href="{% url 'signup' %}">aqui</a></p>
    </p>
    <div class="is-grouped">
        <button type="submit" class="btn btn-dark">Iniciar sesion</button>
    </div>
</form>

{% endblock %}