{% extends 'mangas/base.html' %}

{% block content %}

<div>
    <h1>Mangas list</h1>

    <a href="{% url 'manga_list_create' %}"> Create a new review</a>

    {% for manga in mangas %}

        <h1> {{ manga.name }} </h1>
        <h1> {{ manga.description }}</h1>
        <h1> {{ manga.rating }}</h1>
        
        {% if request.manga.photo %}

            <h1>hay foto </h1>

        {% else %}

        
         <h2> no Hay foto </h2>
         
         

        {% endif %}



        <br>

    {% endfor %}
</div>





{% endblock %}