{% extends 'mangas/base.html' %}

{% block content %}
    <h3>Welcome</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias accusamus quam atque facilis corporis, ea illum,
        eos incidunt praesentium quisquam cumque ratione. Veniam nesciunt eaque deleniti ducimus, sapiente est culpa?
        Sit ullam eos illo sapiente fugit tenetur repellat non debitis expedita distinctio, quidem nam amet assumenda
        laudantium inventore ipsam voluptate, nemo quae recusandae! Quisquam minima facilis odit atque ab soluta.
        Tempore nihil ratione quos atque, voluptates nemo officiis necessitatibus recusandae magni itaque dolorem architecto
        enim illum quaerat consequatur exercitationem laborum ducimus quam illo veniam voluptatem iste? Tenetur nisi
        molestiae enim!
    </p>
{% endblock %}