
/**Globales**/
.contenedor{
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
}


.star-icon {
    width: 20px;  /* Ajusta el ancho según tus preferencias */
    height: 20px; /* Ajusta la altura según tus preferencias */
    margin-right: 5px; /* Ajusta el margen entre las estrellas según tus preferencias */
}

img{
    /**Le doy un tamaño maximo de 100% del contenedor a la imagen**/
    max-width: 100%;
}


/**Utilidades**/
.seccion{
    margin-top: 20px;
    margin-bottom: 20px;
}

.fw-400{
    font-weight: 400;
}

.centrar-texto{
    text-align: center;
}


.iconos-caracteristicas{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.iconos-caracteristicas li{
    flex-basis: calc(15% - 1rem);
}



/**seccion inferior**/
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .populares{
    flex-basis: 60%;
}

.seccion-inferior .comentarios{
    flex-basis: calc(40% - 2rem);
}

.entradas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-img{
    flex-basis: 50%;
}


.caja {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box {
    height: 600px;
    overflow: hidden;
}


.box img {
    min-width: 400px;
    max-width: 400px;
    height: auto;
}

.entrada-texto{
    margin: 4rem 4rem 0 0;
    flex-basis: calc(50% - 3rem);
}

.entrada-texto h3{
    margin: 0;
    line-height: 1.4;
}



/**Mangas**/
.mangas{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.manga-imagen{
    flex-basis: 60%;
}

.manga-contenido{
    flex-basis: calc(40% - 20px);    
}

.manga-contenido p, .manga-contenido blockquote{
    font-size: 20px;
    margin-bottom: 20px;
}
